@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=GFS+Neohellenic:wght@400;700&family=Knewave&family=Raleway:wght@300;400&display=swap');

.row {
    --bs-gutter-x: 0;
}

:root {
    --main-color: #5A96E3;
    --secondary-color: #00355B;
    --login-bg-color: #DBE7FF;

    --main-font: 'Darumadrop One', cursive;
    --secondary-font: 'Raleway', sans-serif;
    --title-comic: 'Knewave', cursive, sans-serif;
    --third-font: 'GFS Neohellenic', sans-serif;
}

* {
    font-family: var(--secondary-font);
}

.full {
    width: 100vw;
    height: 100vh;
}

.btn-width {
    width: 90vw;
}

.bg-primary {
    background-color: var(--main-color) !important;
}

.btn-navy {
    background-color: var(--secondary-color);
}

.btn-navy:hover {
    background-color: #fff;
    color: var(--secondary-color) !important;
}

.back-button {
    width: 100%;
    min-width: 44px;
    min-height: 44px;
    max-width: 45px;
    height: auto;
}

