.btn-primary {
    background-color: #00355B;
}

/* HOME */
.home {
    background-color: var(--main-color);
    color: white;
}

.home h1 {
    font-family: var(--main-font);
}

/* HERO */
.hero h1 {
    font-size: 4.5rem;
}

.hero p {
    font-size: 1rem;
}

.toggle-btn-hero1 {
    display: none;
}

.logo-hero {
    max-width: 100px;
    height: auto;
    width: 100%;
}

/* PROBLEM */

/* SOLUTION */
.solution-p {
    font-size: 1.3rem;
    max-width: 400px;
}

.solution-p strong {
    color: var(--secondary-color);
}

/* ABOUT ME  */
.aboutme p {
    font-size: 1.5rem;
    font-family: var(--third-font);
}

.aboutme p strong {
    color: var(--secondary-color);
}

.problem h1, .solution h1, .aboutme h1 {
    font-size: 3rem;
}
/* FOOTER  */
footer {
    background-color: var(--secondary-color);
}

