/* HOME */
.home {
    background-color: var(--main-color);
    color: white;
}

.home h1 {
    font-family: var(--main-font);
}

/* HERO */
.hero {
    background: rgb(189,210,255);
    background: linear-gradient(0deg, rgba(189,210,255,1) 0%, rgba(48,136,235,1) 52%, rgba(33,77,218,1) 100%);
}

.hero h1 {
    font-size: 4.5rem;
}

.hero p {
    font-size: 1rem;
}

.toggle-btn-hero1 {
    display: none;
}

.logo-hero {
    max-width: 100px;
    height: auto;
    width: 100%;
}

/* CONTENT */
.content-home {
    background: rgb(189,210,255);
    background: linear-gradient(0deg, rgba(48,136,235,1) 50%, rgba(189,210,255,1) 100%);
}

/* PROBLEM */

/* SOLUTION */
.solution-p {
    font-size: 1.3rem;
    max-width: 400px;
}

.solution-p strong {
    color: var(--secondary-color);
}

/* ABOUT ME  */
.aboutme p {
    font-size: 1.5rem;
}

.aboutme p strong {
    color: var(--secondary-color);
}

.problem h1, .solution h1, .aboutme h1 {
    font-size: 3rem;
}
/* FOOTER  */
footer {
    background-color: var(--secondary-color);
}

