@media screen and (min-width: 768px) {
    .dashboard {
        background: var(--main-color) url(https://firebasestorage.googleapis.com/v0/b/hyubaca-58cec.appspot.com/o/dashboard%2Fbg-dashboard720.png?alt=media&token=e8c0afed-2998-4864-8a38-7cca7f96be9c) no-repeat center;
        background-size: cover;
    }

    .points {
        width: auto;
    }

    /* KOMIK */
    .comic-info h2 {
        font-size: 3rem;
    }
}