/* DASHBOARD */

.dashboard {
    background-color: var(--main-color);
}

.dashboard h2 {
    margin-bottom: 0;
}

.dashboard .bg-sky {
    background-color: #88bcf4;
    font-family: var(--main-font);
}

header {
    height: 70vh;
    width: auto;
    background: var(--main-color) url(https://firebasestorage.googleapis.com/v0/b/hyubaca-58cec.appspot.com/o/dashboard%2Fbg-dashboardMobile.jpg?alt=media&token=426818bc-eb2f-4029-8602-27fe727dcf03) no-repeat top;
    background-size: cover;
}

.dashboard h3 {
    font-family: var(--main-font);
}

.dashboard-card {
    text-decoration: none;
    color: black;
}

.container-bg {
    background-color: white;
}

.points {
    width: 90%;
}

.points h3 {
    color: var(--navy-color);
}

/* KOMIK */
.list-eps {
    background-color: var(--main-color);
}

.list-eps h2 {
    font-family: var(--main-font);
}
.link-react {
    text-decoration: none;
}

.comic-info {
    height: 100vh;
    background: white url(https://firebasestorage.googleapis.com/v0/b/hyubaca-58cec.appspot.com/o/other%2FcoverKomik.jpg?alt=media&token=6aa0dc5f-f836-4a32-9c83-9cd99d0592c4) no-repeat center;
    background-size: cover;
}

.comic-info h2 {
    font-family: var(--main-font);
    font-size: 2rem;
}

.desc-info {
    background-color: rgba(22, 28, 119, 0.685);
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
}

/* EPISODE */
.comic-size > img {
    width: 100vw;
    max-width: 800px;
    height: auto;
}

.logo-epi h2 {
    font-family: var(--main-font);
}

/* QUESTION */
.question-size {
    width: 100vw;
    max-width: 800px;
    height: auto;
}