/* DASHBOARD */
.dashboard {
    background: var(--main-color) url('https://firebasestorage.googleapis.com/v0/b/hyubaca-58cec.appspot.com/o/dashboard%2Fbghyubaca%20(2).jpg?alt=media&token=d38cccbc-79ce-4938-b28e-1ff2a84a82f1') no-repeat center;
    background-size: cover;
}

.dashboard h3 {
    font-family: var(--main-font);
}

.dashboard-card {
    text-decoration: none;
    color: black;
}

.container-bg {
    background-color: white;
}

.points {
    width: 90%;
}

.points h3 {
    color: var(--secondary-color);
}

/* KOMIK */
.list-eps h2 {
    font-family: var(--title-comic);
}
.link-react {
    text-decoration: none;
}

.comic-info {
    height: 100vh;
    background: white url('../Assets/two-girls-one-boy.png') no-repeat center;
    background-size: cover;
}

.comic-info h2 {
    font-family: var(--title-comic);
    font-size: 2rem;
}

.desc-info {
    background-color: rgba(19, 19, 19, 0.685);
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
}

/* EPISODE */
.comic-size > img {
    width: 100vw;
    max-width: 800px;
    height: auto;
}

/* QUESTION */
.question-size {
    width: 100vw;
    max-width: 800px;
    height: auto;
}