.login-bg {
    background: var(--main-color);
    background-size: cover;
}

.login-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
}

/* LOGIN */


/* REGISTER */