.login-bg {
    background: var(--main-color) url('https://i.pinimg.com/564x/26/39/5f/26395ff7e1896dd9fce5154806f7c330.jpg') no-repeat center;
    background-size: cover;
}

.login-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
}

/* LOGIN */
.login-card h1, .login-card label {
    font-family: var(--secondary-font-2);
}

/* REGISTER */